/* Блюр настраивается через ваш композитор */

:root {
  --background-color: #121212;
  --background-color-80: rgba(12, 12, 12, 0.9);
  --text-primary: #e0e0e0;
  --text-secondary: #b0b0b0;
  --panel-background-primary: rgba(18, 18, 18, 0.85);
  --panel-background-secondary: #1d2021;
  --separator-color: #323232;
}

* {
  all: unset;
  padding: 0px;
  margin: 0px;
  border: none;
  border-radius: 0px;
  font-family: "Iosevka Nerd Font Propo";
  /* font-family: "Departure Mono Nerd Font Propo"; */
  font-weight: 500;
  -gtk-dpi: 96;
  line-height: 1;
  font-kerning: none;
  font-variant-ligatures: none;
}

/* Launcher */
#launcher-window {
  background-color: transparent;

  /* This padding fixes ghosting */
  padding: 1px;
}

#launcher {
  font-size: 18px;
  padding: 8px;

  background-color: var(--background-color-80);
  border-radius: 8px;
}

stackswitcher {
  font-size: 14px;
}

stackswitcher button {
  margin: 2px 2px;
  padding: 2px 0px;
  border-radius: 4px;
  background-color: #222222;
}

#wallpaper {
  background-color: #222222;
  padding: 4px;
  margin: 4px;
  border-radius: 8px;
}

#wallpaper-picture {
  border-radius: 4px;
}

#wallpaper-name {
  margin-top: 5px;
  font-size: 14px;
}

listview :selected {
  background-color: rgb(44, 50, 60);
  border-radius: 8px;
}

gridview :selected {
  background-color: rgb(44, 50, 60);
  border-radius: 8px;
}

/* stack {
  border: 2px solid green;
} */

entry {
  all: unset;
  font-family: "Iosevka Nerd Font Mono";
  border: none;
  background-color: rgba(44, 44, 44, 0.4);
  border-radius: 6px;
  color: var(--text-secondary);
  padding: 4px 8px;
  margin-bottom: 8px;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

entry placeholder {
  color: #444444;
}

listview {
  padding: 2px;
  border-radius: 6px;
}

.app {
  padding: 8px;
}

.comment {
  font-size: 14px;
  color: #b0b0b0;
}

/* scrolledwindow {
  border: 1px solid white;
} */

scrolledwindow scrollbar {
  background-color: transparent;
}

scrolledwindow scrollbar slider {
  background-color: transparent;
}

/* Panel */
#panel {
  font-size: 15px;
  background-color: var(--panel-background-primary);
  border-radius: 0px;
  border-bottom: 1px solid rgba(12, 12, 12, 0.5);
}

separator.vertical {
  background-color: var(--separator-color);
  border: 1px;
  min-width: 1px;
  margin-top: 6px;
  margin-bottom: 6px;
}

separator.horizontal {
  background-color: var(--separator-color);
  border: 1px;
  min-height: 1px;
}

.module {
  margin-left: 4px;
  margin-right: 4px;
}

#workspaces {
  margin: 2px 0px;
  margin-left: 8px;
  border-radius: 2px;
  padding: 2px 4px;
}

#workspaces label {
  border-radius: 3px;
  padding: 2px 6px;
  font-weight: 500;
  color: #525252;
}

/* #launcher-toggle {
  margin-left: 12px;
} */

#workspaces label.focused {
  background-color: #303536;
}

#workspaces label.urgent {
  background-color: #e78a4e;
}

#workspaces label.active {
  font-weight: 600;
  color: white;
}

#workspaces label:not(.active):hover {
  background-color: rgba(70, 71, 76, 0.3);
  transition: background-color 0.3s;
}

#keyboard-layout {
  color: white;
}

#pulseaudio {
  color: white;
}

#clock {
  margin-right: 10px;
  color: white;
}

/* Notifications */
#notification {
  padding: 6px 12px;
  color: whitesmoke;
  font-size: 14px;
  border: 3px solid transparent;
  border-radius: 0px;
  background-color: var(--background-color-80);
  box-shadow: #121212 1px 1px 2px 2px;
}

/* #text-container {
  background-color: yellow;
} */

#icon {
  margin-right: 10px;
}

#summary {
  font-size: 16.6px;
  font-weight: 700;
  margin-bottom: 4px;
}

#body {
  font-size: 14px;
}

#notification.low {
  border-color: gray;
}

#notification.normal {
  border-color: rgb(126, 160, 164);
}

#notification.critical {
  border-color: red;
}

/* Widgets */
#wow {
  font-size: 48px;
  color: whitesmoke;
  background-color: aquamarine;
  border-radius: 10px;
  padding: 8px;
}

/* Dock */
#dock-window {
  all: unset;
  background-color: transparent;
  padding-top: 20px;
}

#dock {
  padding: 4px 6px;
  background-color: rgba(12, 12, 12, 0.5);
  border: 1px solid rgba(77, 77, 77, 0.8);
  border-radius: 18px;
}

.dock-icon {
  transition: transform 0.2s ease;
}

.dock-icon:hover {
  transform: scale(1.25) translateY(-10px);
}