/* Блюр настраивается через ваш композитор */

@define-color bg rgba(18, 18, 18, 0.9);
@define-color bgg #1d2021;

* {
    padding: 0px;
    margin: 0px;
    border: none;
    border-radius: 3px;
    font-family: "Iosevka Nerd Font Propo";
    font-weight: 500;
}

scrolledwindow {
    color: whitesmoke;
    border: 1px solid red;
    border-radius: 4px;
}

entry {
    border: 1px solid white;
    padding: 4px 8px;
    background-color: @bgg;
    margin-bottom: 4px;
    border-radius: 4px;
}

#launcher {
    font-size: 18px;
    background-color: transparent;
}

#launcher>revealer>box {
    background-color: @bg;
    border-radius: 10px;
    padding: 8px;
}

#panel {
    font-size: 15.7px;
    background-color: @bg;
    border-radius: 0px;
}

.module {
    margin-left: 8px;
    margin-right: 8px;
}

#workspaces {
    background-color: @bgg;
    color: #d4be98;
    margin: 2px;
    margin-left: 8px;
    border-radius: 2px;
    padding: 2px 4px;
}

#workspaces label {
    padding: 2px 6px;
    color: #d4be98;
}

#workspaces label.focused {
    background-color: #303536;
}

#workspaces label.urgent {
    background-color: #e78a4e;
}

#workspaces label.active {
    background-color: #ddc7a1;
    color: #303536;
}

#workspaces label:hover {
    background-color: rgba(70, 71, 76, 0.3);
    transition: background-color 0.3s;
}