layout {
    gaps 12
    center-focused-column "always"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    // You can also customize the heights that "switch-preset-window-height" (Mod+Shift+R) toggles between.
    preset-window-heights { 
        proportion 0.5
    }

    // You can change the default width of the new windows.
    default-column-width { proportion 0.66667; }

    // If you leave the brackets empty, the windows themselves will decide their initial width.
    focus-ring {
        off
        width 3
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        on
        width 3
        active-color "#ffa07a"
        inactive-color "#6f5d63"
        urgent-color "#f5d76e"
    }

    shadow {
        on
        softness 4
        spread 1
        offset x=0 y=1
        color "#101010"
    }
}
